@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Source+Sans+3:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: sans-serif , 'source sans pro';
}

.css-q9plrl {
  margin-bottom: 40px;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

/* track */
::-webkit-scrollbar-track{
  background: #e0e0e0;
} 

/* handle */
::-webkit-scrollbar-thumb{
  background: #888;
}

/* handle on hower */

::-webkit-scrollbar-thumb:hover{
  background: #555;
}
